
/* Navbar Styles */
.header {
    background-color: #423333;
    box-shadow: 0 2px 2px rgba(235, 81, 20, 0.1);
    position: fixed;
    width: 100%;
    z-index: 10;
    color: #fff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: end;
    font-size: 1.8rem;
    font-weight: bold;
    color: #e7dddd;
    margin-left: 5rem;
}
.logo img{
    height: 2rem;
    margin: 0.2rem;
}

.menu {
    font-size: 1.3rem;
    list-style: none;
    display: flex;
    margin-right: 5rem;
    align-items: center;
}

.menu li {
    margin: 0 0.9rem;
}

.menu li a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}

.menu li a:hover {
    color: #0055ff;
}

.btn-primary {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
    background-color: #fd3d0d;
}

.btn-primary:hover {
    background-color: #33c425;
    color: #0f0b0b;
}
/* Section 1 - styles */

.section1 {
    height: 42rem;
    padding: 5rem 0;
    margin: 0;
    background-color: #151c23;
    background-image: url(./Images/hero-bg.png);
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 75rem;
    margin: 0 auto;
}

.topleft {
   display: flex;
   flex-direction: column;
   align-items: center;
    max-width: 50%;
    padding: 0 1.25rem;
    text-align: center;
}
.topleft img {
    margin: 0;
    height: 10rem;
}

.title {
    font-size: 2.6rem;
    color: #333;
    margin:0;
}

.description {
    color: white;
    font-size: 1.2rem;
    margin: 0;
}

/* .topright-image{
    max-width: 100%;
} */

.deal-text {
    font-weight: bold;
    font-size: 2.1rem;
    margin-bottom: 20px;
    color:red;
    margin-top: 0;
}

.buttons {
    display: flex;
}

.buttons .btn-primary {
    margin-right: 15px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
    background-color:#fd3d0d;
    transition: background-color 0.3s, color 0.3s;
}

.buttons .btn-primary:hover {
    background-color: #33c425;
}

/* Section2 : classes we offer*/

.section2{
    background-color: #704444;
    margin: 0;
    height: 50rem;
    background-image: url(./Images/classes-bg.png);
}
.classes{
    text-align: center;
    padding: 0;
    margin: 0; 
}
.classes h2{
    font-size: 1.5 rem;
    color:#fd3d0d;
    margin: 0;
    padding-top: 2rem;
    
}

.cards{
    padding: 1rem;
    display: flex;
    justify-content:space-around;
    align-items: center;
    font-weight: bold;
}
    
.cards img{
    max-width: 100%;
    height: 19rem;
}

.card1{
    box-shadow: 0 4px 10px rgba(33, 17, 78, 0.1);
    background-color: white;
    padding-bottom: 1rem;
    width: 25rem;
    border-radius: 0.3rem;
    box-shadow: 0px 2px 4px rgba(123, 226, 82, 0.2);
    margin: 5px;
}

.card-title{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.card-title img{
    height: 40px;
    margin-right: 12px;
}
  
/* Section 3 - Pricing Styles */
.section3 {
    padding: 80px 0;
    background-color: rgb(35, 43, 66);
    background-image: url(./Images/classes-bg.png);
}

.title {
    font-size: 2.5rem;
    color: #eb4034;
    text-align: center;
    margin-bottom: 30px;
}

.description {
    color: white;
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 40px;
}

.boxes {
    display: flex;
    justify-content: center;
    align-items: center;
}


.box {
    background-color: #fff;
    border-radius: 10px;
    padding: 40px;
    margin: 10px 20px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(187, 104, 27, 0.1);
    width: 15rem;
}

.box:nth-child(1) {
    background-color: #ad8a56;
}

.box:nth-child(2) {
    background-color: #d7d7d7;
}

.box:nth-child(3) {
    background-color: #Af9500;
}

.box h2 {
    font-size: 2.5rem;
    color:#fd3d0d;
    margin-bottom: 20px;
}


.highlighted-price {
    font-size: 1.6rem;
    font-weight: bold;
    color:#fd3d0d;
    margin-bottom: 30px;
}

.box ul {
    list-style-type: none;
    padding: 0;

}

.box ul li {
    margin: 14px 0;
    color: black;
}

.box ul .btn-primary {
    padding: 12px 30px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
    background-color:#fd3d0d;
    transition: background-color 0.3s, color 0.3s;
}

.box ul .btn-primary:hover {
    background-color: green;
}

/* Section 4-Compare Plans Styles */
.section4 {
    padding: 80px 0;
    background-color: rgb(35, 43, 66);
    background-image: url(./Images/classes-bg.png);
    color: white;
}

.plan-table {
    margin: 0 auto;
    max-width: 1000px;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1);
    overflow: hidden;
}

.table {
    width: 100%;
    border-collapse:collapse;
}

.table thead {
    color: green;
    font-weight: bold;
}

.table th,
.table td {
    padding: 15px;
    text-align: center;
    font-weight: 600;
    font-size: 1.1rem;
    border: 1px solid #e0e0e0;
}

.table th:first-child,
.table td:first-child {
    font-weight: bold;
}



/* Footer styles */

.footer-content {
    background-color: #121212;
    color: #fff;
    padding: 1rem 8rem;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-content i{
    font-size: 1.6rem;
    margin: 0 1rem;

}
.footer-content a {
    text-decoration: none;
    color: #fff;
    font-size: 0.8rem;
    
}

.social-media a:hover {
    color:#0055ff; 
}
/* Media  Queries*/
@media (min-width:90px) and (max-width:320px){
    .boxes {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}